.txtft {
color: orange;
  text-align: center;
}

div {
  height: 250;
  width: 500;
  background: purple;
  color: gold;
  text-align: center;
}

img {
    height: 350;
  width: 700;
  width: 50%;
}

li {
  text-align: center;
  color: green;
}
